.main {
  display: flex;
  flex-flow: column wrap;
  margin: 3% 10%;
  align-items: center;
  width: 75%;
  box-shadow: 0px 1px 5px 0px;
}

.answerNav {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.answersTab {
  padding: 15px;
  color: white;
  text-align: center;
  width: 50%;
}