.form {
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 50%;
  margin: 4% auto;
  padding: 16px;
  background: #F7F7F7;
  box-shadow: 0px 1px 5px 0px;
}

.form h1 {
  background: #4CA0AF;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin-top: 0;
}

.form input[type="text"] {
   outline: none;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   width: 100%;
   background: #fff;
   margin: 3% 0;
   border: 1px solid #ccc;
   padding: 2%;
   color: #555;
   font: 95% Arial, Helvetica, sans-serif;
}

.form input[type="submit"] {
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   width: 100%;
   padding: 3%;
   background: #4CA0AF;
   border-bottom: 2px solid #30C29E;
   border-top-style: none;
   border-right-style: none;
   border-left-style: none;	
   color: #fff;
}

.form input[type="submit"]:hover {
   background: #2EBC99;
}

.form h2 {
  text-align: center;
  margin: 0;
  font-family: Arial;
}