.unAnsweredQ {
  max-width: 50%;
  width: 85%;
  margin: 3% 25%;
}

.inputs {
  width: 10%;
  margin: 10px;
}

.option {
  width: 80%;
  margin: 10px;
  max-width: 85%;
}

.divider {
  width: 100%;
}
